@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top_icon {
    @apply bg-gray-200 
    rounded-md 
    p-[6px] 
    text-sm 
    cursor-pointer 
    hover:bg-accent 
    hover:text-white;
  }
.navbar_link {
    @apply relative text-gray-700 transition duration-300;
  }
.navbar_link:hover {
    @apply text-pink-500;
  }
.navbar_link::after {
    content: "";
    position: absolute;
    background-color: #ff8f9c;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
.navbar_link:hover::after{
    transform: scaleX(1);
  }
}
